@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Martel+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

.abc
{
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  display: flex;
  background-size: cover; 
  background-position: center center;
  font-family: "Roboto", sans-serif;
  background-color: rgba(8, 8, 8, 0.89);
  background-image: url("../../assets/newimage.png");
}
.navbar2
{
    display: flex;
    flex-direction: row;
    position: sticky;
    align-items: center;
    width: 90%;
    height: 127px; 
    justify-content: space-between;
    background-color: transparent;
    background-color: #12055100;
}

.navbar2 li {
  margin: 0 50px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
padding-top: 5%;
}

.logo2 img {
  width: 240px;
  height: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
padding-top: 5%;
}

.logo2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
}


.main2 {
  width: 100%;
  margin-top: 1px;
  background-size: cover;
  align-items: center;
  overflow-x: hidden;
  justify-content: center;
  display: flex;
  background-position: center;
  min-height: 600px;

  }

  .ar2{
    width: 500px;
    height: 100px;
    color: rgba(0, 0, 0, 0.782);
  }

  .area2{
    width: 440px;
    align-items: center;
    justify-content: center;
    align-self: center;
    background-color: rgba(2, 3, 55, 0.453);
    color: white;
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    margin-top: 0.5px;
    box-shadow: 2px 2px 10px white;
    transition: background-color .30s ease-in-out;
    border-radius: 10px;
  }
  .area2:hover{
    background-color: rgba(27, 27, 142, 0.371);
    box-shadow: 1px 1px 30px rgb(20, 1, 1);
  }
.s12{
    padding-right:  5%;
    padding-top: 10%;
  text-wrap: nowrap;
  width: 100%;
  min-height: 50px;
  border-radius: 5px;
  }

  .search2 {
    width: 300PX;
    background-color: rgba(0, 0, 0, 0);
    min-height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    text-align: left;
    margin-top: 10px;
  }

  .box2 {
    width: 280PX;
    min-height: 50px;
    background-color: rgba(39, 38, 38, 0.903);
    border-radius: 7px;
    color: aliceblue;
  }

  .b12{
  padding-left: 14%;
  text-wrap: nowrap;
  width: 100%;
  min-height: 50px;
  border-radius: 5px;
  color: aliceblue;
}


.try2 {
  color: aliceblue;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #120551;
  font-size: 20px;
  width: 84%;
  min-height: 50px;
  border-radius: 7px;
  box-shadow: 1px 1px 10px rgb(181, 177, 177);
  transition: background-color 0.3s ease-in-out;
}
.try2:hover{
  background-color: red;
}

.cbox2{
   
    width: 85%;
    min-height: 70%;
    color: gray;
}

.d23
{
  width: 15px;
  height: 15px;
  padding: 2px;
  float:right;
  padding-right: 30%;
  text-wrap: nowrap;
  
}